	/* display none for desktop */
.visible-mobile
	{
		display:none;
	}	
	
.pc-display
	{
		display:block;
	}
.hidden
	{
		display:block;
	}
a 
	{
		text-decoration:none;
		color:black;
	}
input
{display:none;}	
	
	/* css for side fixed div */
	/* css for side fixed div */
.fixed
	{
		height:700px;
		width:16%;
		border-right:1px solid gray;
		position:fixed;
		left:0;
		display:flex;
		flex-direction:column;
		align-items:center;
		box-sizing:border-box;
		padding-left:1%;
		justify-content:space-around;
		z-index:1;
	}

.fix-child-1
	{
		height:75%;
		width:100%;
		display:flex;
		flex-direction:column;
		/* justify-content:space-between; */
		font-size:19px;
		justify-content:space-around;
	}	

.fix-child-1  i
	{
		margin:5%;
		font-size:22px;
	}	
	
.fix-title
	{
		margin-bottom:10%;
		margin-left:10%;
		font-size:22px;
	}	

.fix-icon
	{
		width:40%;
		background-color:;
		padding:1%;
		padding-right:100px;
		border-radius:10px;
		font-size:20px;
		display:flex;
		align-items:center;
	}	
	
.fix-icon:hover
	{
		background-color:#E9EAEA;
	}
.fix-icon > div
	{
		/* color:red; */
		font-family:arial;
		font-size:16px;
		margin-left:8px;
	}		

.desktop
	{
		width:40%;
		padding:1%;
		padding-right:100px;
		border-radius:10px;
		font-size:20px;
		display:flex;
		align-items:center;
	}	
	
.desktop:hover
	{
		background-color:#E9EAEA;
	}	
.desktop >	div
	{
		/* color:orange; */
		font-family:arial;
		font-size:16px;
		margin-left:8%;
	}

	
	
.drop-down-search
	{
		height:100%;
		top:0;
		/* height:690px; */
		width:400px;
		
		position:absolute;
		left:180px;
		display:none;
		/* top:-190; */
		/* border:2px solid black; */
		box-shadow:1px 1px 2px gray;
	}	
	
.desktop:hover .drop-down-search
	{
		background-color:white;
		border-radius:10px;
		display:block;
	}
	
	
.search-history
	{
		height:100%;
		width:100%;
		border-radius:10px;
		/* border:1px solid black; */
		box-sizing:border-box;
		padding:5%;
	}	
	
.top-20
	{
		height:20%;
		width:100%;
		border-bottom:1px solid black;
	}	

input
	{
		height:25%;
		width:90%;
		border:none;
		border-radius:10px;
		padding-left:3%;
		background-color:#E9EAEA;
	}	

	
.next-80
	{
		height:80%;
		width:100%;
	}	
	
.d-flex
	{
		margin-bottom:5%;
		display:flex;
		justify-content:space-between;
		align-items:center;
	}	
	
.profile
	{
		height:60px;
		width:80%;
		/* border:1px solid black; */
		display:flex;
		align-items:center;
	}	

.profile-photo-search
	{
		height:100%;
		width:22%;
		/* border:1px solid black; */
		border-radius:50%;
	}	

.profile-photo-search img
	{
		height:100%;
		width:100%;
		border-radius:50%;
	}	
	
.both-name
	{
		height:100%;
		width:80%;
		display:flex;
		flex-direction:column;
		padding-left:3%;
		justify-content:center;
		/* border:1px solid black; */
	}	

.both-name p
	{
		margin:0;
	}
.both-name i
	{
		margin:0;
		color:blue;
	}	
	
.cross-icon	
	{
		
	}



.drop-down
	{
		height:100%;
		top:0;
		/* height:690px; */
		width:400px;
		
		position:absolute;
		left:180px;
		display:none;
		/* top:-190; */
		/* border:2px solid black; */
		box-shadow:1px 1px 2px gray;
	}
	
.fix-icon:hover .drop-down
	{
		background-color:white;
		border-radius:10px;
		display:block;
	}

.desktop:hover .drop-down
	{
		background-color:white;
		border-radius:10px;
		display:block;
	}	
	
.notification-dropdown
	{
		height:100%;
		width:100%;
		box-sizing:border-box;
		padding:3%;
	}	
	
.drop-10
	{
		
		
	}	

.notification
	{
		
	}	

.request
	{
		height:60px;
		width:100%;
		display:flex;
		align-items:center;
		/* border:1px solid black; */
	}	

.info
	{
		height:100%;
		width:85%;
		display:flex;
		align-items:center;
	}	

.photo
	{
		height:100%;
		width:20%;
		border:1px solid black;
		border-radius:50%;
	}

.photo img 
	{
		height:100%;
		width:100%;
		border-radius:50%;
		
	}		

.inside
	{
		padding-left:3%;
		align-items:center;
	}

.inside h5
	{
		margin:0;
		font-weight:bold;
	}
.inside p
	{
		margin:0;
		color:gray;
		font-size:16px;
	}
	

.icon
	{
		width:15%;
	}	

.create-drop-down
	{
		height:100%;
		top:0;
		width:1300px;
		/* width:400px; */
		
		position:absolute;
		left:180px;
		display:none;
		/* top:-190; */
		/* border:2px solid black; */
		/* box-shadow:1px 1px 2px gray; */
		justify-content:center;
		align-items:center;
	}	
	
.desktop:hover .create-drop-down
	{
		background-color:none;
		border-radius:10px;
		display:block;
	}

.drop-flex
	{
			height:100%;
		width:100%;
		background-color:none;
		display:flex;
		justify-content:center;
		align-items:center;
	}	

.upload-div
	{
		height:80%;
		width:50%;
		border-radius:10px;
		box-shadow:0px 0px 10px 10px gray;
	}	

.top-title
	{
		height:6%;
		width:100%;
		font-size:25px;
		display:flex;
		justify-content:center;
		align-items:center;
		color:#6b7bdf;
		font-weight:bold;
		border-bottom:1px solid gray;
	}	

.Select-upload
	{
		height:90%;
		width:100%;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}	
	
.Select-upload i
	{
		font-size:200px;
		color:#329a32;
		/* color:#0f9600; */
	}	

.Select-upload > form
	{
		height:20%;
	}

	

.upload-tag
	{
		height:20px;
		width:50px;
		padding:1.5%;
		border-radius:10px;
		background-color:green;
		color:white;
		font-size:18px;
	}	

.upload-tag:hover
	{
		background-color:red;
	}	
	
	/* fix child 2 css */
	
.fix-child-2
	{
		height:15%;
		width:100%;
		box-sizing:border-box;
		display:flex;
		justify-content:space-around;
		
		padding:2%;
		flex-direction:column;
		
		font-size:18px;
	}
	
.fix-child-2  i
	{
		margin:5%;
		font-weight:bold;
		
	}		
	
.child-2-icon
	{
		
	}	

/* css fixed div end */
/* css fixed div end */

.main-div
	{
		
		width:84%;
		margin-left:16%;
		display:flex;
		/* align-items:center; */
		justify-content:center;
		
	}
.inside-main-div
	{
		/* height:100%; */
		width:975px;
		display:flex;
		flex-direction:column;
		align-items:center;
		/* border:2px solid black; */
		/* overflow:auto; */
	}	
.bulk-content
	{
		height:641px;
		width:963px;
		margin-bottom:0.5%;
		/* border:2px solid black; */
	}	
.one-div	
	{
		height:50%;
		width:33%;
		float:left;
		box-sizing:border-box;
		padding:0.5%;
		/* border:1px solid black; */
	}
.one-div img
	{
		height:100%;
		width:100%;
		
	}
	
.double-div
	{
		height:100%;
		width:33%;
		float:right;
		box-sizing:border-box;
		padding:0.5%;
		/* border:1px solid red; */
	}	
.double-div img
	{
		height:100%;
		width:100%;
	}	
	
/* reverse content	 */
	
.one-div-rev
	{
		height:50%;
		width:33%;
		float:right;
		box-sizing:border-box;
		padding:0.5%;
		/* border:1px solid black; */
	}
.one-div-rev img
	{
		height:100%;
		width:100%;
		
	}	
.one-div-rev video
	{
		height:100%;
		width:100%;
		object-fit:cover;
	}	
.double-div-rev
	{
		height:100%;
		width:33%;
		float:left;
		box-sizing:border-box;
		padding:0.5%;
		/* border:1px solid red; */
	}	
.double-div-rev img
	{
		height:100%;
		width:100%;
	}
.double-div-rev video
	{
		height:100%;
		width:100%;
		object-fit:cover;"
	}	
	
