		@media only screen and (max-width:800px) {
			
			
	/* display none for desktop */
.book-display
	{
		display:none;
	}
.visible-mobile
	{
		display:block;
	}	
.pc-display
	{
		display:none;
	}	
.hidden
	{
		display:none;
	}
		
		
		
		
		*{margin:0;}
.cam-fix
	{
		display:block;
	}

.fixed 
	{
		height:60px;
		width:100%;
		border-right:1px solid black;
		position:fixed;
		z-index:1;
		bottom:0;
		display:flex;
		flex-direction:row;
		justify-content:space-around;
		background-color:white;
	}
.fixed span
	{
		display:none;
	}	
	
.fix-child-1
	{
		height:100%;
		width:100%;
		/* border:1px solid red; */
		display:flex;
		flex-direction:row;
		justify-content:space-around;
		align-items:center;
		font-size:22px;
	}
.fix-child-1  i
	{
		margin:5%;
		
	}	
.fix-title
	{
		margin-bottom:10%;
		margin-left:10%;
		display:none;
	}	
.fix-icon
	{
		padding:1%;
		margin-right:5%;
		margin-left:1%;
		border-radius:10px;
		
	}	
.fix-icon:hover
	{
		background-color:#E9EAEA;
	}	
			
.fix-child-2
	{
		height:10%;
		width:100%;
		box-sizing:border-box;
		display:flex;
		
		padding:2%;
		flex-direction:column;
		justify-content:space-around;
		font-size:18px;
		/* border:1px solid red; */
		display:none;
	}			
			
.fix-title
	{
		height:;
		width:100%;
	}	
.desktop
	{
		display:none;
	}

.main-div
	{
		height:100%;
		width:100%;
		margin:0;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:start;
		overflow-y:auto;
		
	}

.reels-div
	{
		height:595px;
		width:100%;
		/* width:500px; */
		display:flex;
		flex-direction:row;
		align-items:center;
		margin-top:2%;
		position:relative;
		/* border:2px solid black; */
		/* overflow:auto; */
		
		
	}	
.reel-video
	{
		height:590px;
		width:100%;
		z-index:0;
		position:relative;
		/* box-shadow:1px 1px 10px gray; */
		border-radius:5px;
		/* float:left; */
		/* border:1px solid black; */
	}	
.reel-video video
	{
		height:100%;
		width:100%;
		object-fit:cover;
		/* object-position:100% 100%; */
		border-radius:5px;
	}	
	
.profile
	{
		height:40px;
		width:90%;
		/* border:1px solid; */
		position:absolute;
		bottom:90px;
		box-sizing:border-box;
		padding-left:1%;
		display:flex;
		align-items:center;
		color:white;
		font-weight:bold;
		font-size:16px;
	}
.profile img
	{
		height:100%;
		width:12%;
		border-radius:50%;
		/* border:1px solid black; */
		margin-right:2%;
		
	}	
.follow
	{
		border:1px solid white;
		padding:1%;
		margin-left:2%;
		border-radius:5px;
		font-weight:bold;
		font-size:18px;
	}	
.caption
	{
		margin-left:1%;
		height:20px;
		width:90%;
		/* border:1px solid black; */
		position:absolute;
		bottom:55px;
		color:white;
	}	
.song
	{
		height:20px;
		width:90%;
		/* border:1px solid black; */
		position:absolute;
		bottom:20px;
		color:white;
	}	
.like-share-div
	{
		height:100%;
		width:50px;
		/* float:left; */
		position:absolute;
		right:1%;
		color:white;
		display:flex;
		flex-direction:column-reverse;
		/* border:1px solid black; */
		/* display:none; */
	}	
.side-like
	{
		height:60%;
		width:100%;
		display:flex;
		flex-direction:column;
		justify-content:space-around;
		align-items:center;
		font-size:25px;
		
		/* border:1px solid black; */
		/* display:none; */
	}
.side-like img
	{
		height:40px;
		width:40px;
		border-radius:5px;
	}
.count p
	{
		margin:0;
		font-size:15px;
	}	
	
	
	
	}

